<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.electromob.new_project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".orders"></activity>
        <activity android:name=".businesscrop" />
        <activity android:name=".businessdetails" />
        <activity android:name=".farmerauthentication3" />
        <activity android:name=".acceptance2" />
        <activity android:name=".acceptance1" />
        <activity android:name=".segregation1" />
        <activity android:name=".farmerauthentication2" />
        <activity android:name=".farmerauthentication1" />
        <activity android:name=".aceptance" />
        <activity android:name=".segregation" />
        <activity android:name=".farmerdetails" />
        <activity android:name=".farmerauthentication" />
        <activity android:name=".ticket" />
        <activity android:name=".business" />
        <activity android:name=".farmer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>